.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    left: 5%
    bottom: 10%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    right: 15%
    bottom: 8%
  &-3
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    top: 13%
    right: 20%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.titulo-principal__numero
  span
    i
      color: $white

.banner-interno
  height: 150px
  .banner-interno__fondo
    background-position: right top
    background-image: url(../assets/curso/fondo_tema.png) !important

//Banners
.banner-principal__row
  .banner-principal__img
    padding-top: 0.6rem !important
    padding-bottom: 0.6rem !important
    img
      margin-left: auto
      max-width: 543px
.banner-principal .tarjeta
  background-position: inherit
  @media screen and (max-width: $bp-max-md)
    background-image: url(../assets/curso/portada/fondo-banner-principal-md.png) !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url(../assets/curso/portada/fondo-banner-principal-movil.png) !important


//fondos
.fondo-personalizado-1
  position: relative
  &:before
    content: ""
    position: absolute
    width: 108%
    left: -4%
    @media screen and (max-width: $bp-max-xl)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-lg)
      width: 112%
      left: -6%
    @media screen and (max-width: $bp-max-md)
      width: 116%
      left: -8%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: 520px)
      width: 120%
      left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-repeat: no-repeat
    background-position: top
    background-size: cover
  &.no-tam-full
    &:before
      left: 0 !important
      width: 100% !important
  &.pos-bottom
    &:before
      background-position: bottom
  &.pos-center
    &:before
      background-position: center
  &.size-full
    &:before
      background-size: 100%
    &.med
      @media screen and (max-width: $bp-max-md)
        &:before
          background-size: cover
  &.pos-center
    &:before
      background-position: center
  &.f1
    &:before
      background-image: url(../assets/curso/temas/4.png)
  &__contenido
    position: relative


//colores
.fondo-color-sistema-h
  background-color: $color-sistema-h
.fondo-color-sistema-i
  background-color: $color-sistema-i
.fondo-color-sistema-j
  background-color: $color-sistema-j

//bordes
.no-borde
  border: none !important
.borde-2
  border-radius: 2px
.borde-3
  border-radius: 3px
.borde-4
  border-radius: 4px
.borde-5
  border-radius: 5px
.borde-6
  border-radius: 6px
.borde-8
  border-radius: 8px
.borde-9
  border-radius: 9px
.borde-10
  border-radius: 10px
.borde-11
  border-radius: 11px
.borde-12
  border-radius: 12px
.borde-13
  border-radius: 13px
.borde-14
  border-radius: 14px
.borde-15
  border-radius: 15px
.borde-16
  border-radius: 16px
.borde-17
  border-radius: 17px
.borde-18
  border-radius: 18px
.borde-19
  border-radius: 19px
.borde-20
  border-radius: 20px
.borde-21
  border-radius: 21px
.borde-22
  border-radius: 22px
.borde-23
  border-radius: 23px
.borde-27
  border-radius: 27px
.borde-30
  border-radius: 30px
.borde-31
  border-radius: 31px